<!doctype html>
<html lang="en">

<head>
  <title>Quest Zeal</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/homepage.css">
  <link rel="stylesheet" href="/static/assets/css/login.css">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <main>
    <nav class="navbar navbar-light ">

      <div class="text col-12 col-md-9 px-4">
        <a class="navbar-brand" href="/">
          <img src="/static/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top">

          Quest Zeal

        </a>
      </div>
      <div class="col-6 col-md-3 d-flex flex-row">
        <div class="px-2">
          <a href="/" type="button" class="btn homepageButton" >Contact</a>
        </div>
        <div class="px-2">
          <a href="/login" type="button" class="btn homepageButton" data-toggle="modal" data-target="#loginModal">Log in</a>
        </div>
        <div class="px-2">
          <a href="/register" type="button" class="btn homepageButton" data-toggle="modal" data-target="#registerModal">Register</a>
        </div>
      </div>
    </nav>

    <div class="container ">
      <div class="row ">
        <div class=" sidetextHead col py-3">
          The new age assessment
        </div>
      </div>
      <div class="row">
        <div class=" sidetextBody col-6 col-md-4">
          An AI Based Question Answering System,
          to ensure fairand unbiased means of assessing student knowledge.
        </div>
      </div>
    </div>

    
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
      
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" id="btnclose">&times;</span>
            </button>
            <form method="post" action="" class="p-1 p-md-4 ">
                         
              {{ loginForm.hidden_tag() }}
              <p class="fw-bold">
                  {% if msg %}
                  {{ msg | safe }}
                  {% else %}
                  <div class="text logintext text-center">
                      Log in
                  </div>
                  {% endif %}
                  
              </p>

              <br />
                  
              <label class="formtext">Username</label>
              <div class="form-floating mb-3" >
                  {{ loginForm.username(class="form-control") }}
              </div>
              <label class="formtext">Password</label>
              <div class="form-floating mb-3">
                  {{ loginForm.password(class="form-control", type="password") }}
                  
              </div>
              <br />
           
              <button class="w-100 btn btn-lg signin" type="submit">Log in</button>
              <hr class="my-4">
              
                  <div class=" text donthaveaccount">
                      <p>
                          Dont have an account? <a data-dismiss="modal" data-toggle="modal" data-target="#registerModal"  class="text-right text donthaveaccount" href="">Register</a>
                      </p>
             
                  </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <form method="post" action="" class="p-1 p-md-4  ">

                  {{ registerForm.hidden_tag() }}

                  <p class="fw-bold">
                      {% if msg %}
                      {{ msg | safe }}
                      {% else %}
                      <div class="text logintext text-center">
                        Register
                    </div>
                      {% endif %}
                  </p>

                  
                  <label class="formtext">Username</label>
                  <div class="form-floating mb-3">
                      {{ registerForm.username(class="form-control") }}
                  </div>

                  <label class="formtext">Password</label>
                  <div class="form-floating mb-3">
                      {{ registerForm.email(class="form-control") }}
                  </div>

                  <label class="formtext">Password</label>
                  <div class="form-floating mb-3">
                      {{ registerForm.password(class="form-control", type="password") }}
                  </div>
                  <br />
               
                  <button class="w-100 btn btn-lg signin" type="submit">Sign Up</button>
                  <hr class="my-4">
              
                  <div class=" text donthaveaccount">
                      <p>
                          Already have an account? <a data-dismiss="modal" data-toggle="modal" data-target="#loginModal"  class="text-right text donthaveaccount" href="">Login</a>
                      </p>
             
                  </div>
              </form>
         
          </div>
        </div>
      </div>
    </div>
    
  </main>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>