<!doctype html>
<html lang="en">

<head>
    <title>Quest Zeal</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

</head>

<body>
    <main>

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Quest Zeal Student Dashboard</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    An AI Based Question Answering System
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    Hello {{name}} !
                    <br />
                    Here's your {{email}}
                </div>
                <br />
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                    <a href="{{url_for('Objective_QA_Generation')}}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Objective</a>
                </div> <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                    <a href="/" type="button" class="btn btn-primary btn-lg px-4 gap-3">Subjective</a>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                    <a href="/logout" type="button" class="btn btn-primary btn-lg px-4 gap-3">Logout</a>
                </div>
            </div>
        </div>
    </main>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>